* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 75rem;
}

.container {
  display: flex;
  justify-content: center;
}

.example {
  display: flex;
  justify-content: space-around;

  width: 50rem;
  margin: 3.125rem 0;
  background-color: #D6E9FE;
}

.item img {
  display: block;
}

.item-relative {
  position: relative;
  top: 1.875rem;
  left: 1.875rem;
}

.item-absolute {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

.absolute {
  position: relative;
}

.item-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}